/* Global styles to reset and set defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Body styles */
body {
  background: url("dan-gold.jpg") no-repeat center/cover; /* Background image */
  height: 100vh; /* Full viewport height */
  position: relative; /* Allows positioning of child elements */
}

/* Styles for the open button */
#open-btn {
  position: absolute; /* Positioned relative to the body */
  top: 70%; /* 70% from the top of the viewport */
  left: 10%; /* 10% from the left of the viewport */
  width: 350px;
  height: 80px;
  font-size: 2rem;
  background: transparent; /* Transparent background */
  color: #fff; /* White text color */
  border: 2px solid #fff; /* White border */
  border-radius: 10px; /* Rounded corners */
  padding: 5px; /* Padding inside the button */
  box-shadow: 0 0 3px black; /* Shadow effect */
  display: flex; /* Flex container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  transition: 0.5s; /* Smooth transition effect */
}

/* Hover effect for the open button */
#open-btn:hover {
  background-color: #fff; /* White background on hover */
  color: #000; /* Black text color on hover */
}

/* Modal styles */
#modal {
  position: absolute; /* Positioned relative to its container */
  top: 50%; /* 50% from the top of the viewport */
  left: 50%; /* 50% from the left of the viewport */
  transform: translate(-50%, -50%); /* Centering trick */
  width: 200px;
  height: 100px;
  padding: 10px 20px; /* Padding inside the modal */
  border-radius: 5px; /* Rounded corners */
  font-size: 1.5rem; /* Font size */
  display: flex; /* Flex container */
  justify-content: space-between; /* Spacing between items */
  align-items: center; /* Center vertically */
  background-color: #fff; /* White background */
  animation-name: animatemodal; /* Apply animation */
  animation-duration: 0.4s; /* Animation duration */
}

/* Container for the modal */
#modal-container {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1; /* Z-index to overlay on top of other content */
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
}

/* Modal animation */
@keyframes animatemodal {
  from {
    top: -300px; /* Start position above the viewport */
    opacity: 0; /* Start with 0 opacity (invisible) */
  }
  to {
    top: 50%; /* End position centered vertically */
    opacity: 1; /* Fully visible */
  }
}
