/* Resetting margins and paddings for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the entire body */
body {
  display: flex; /* Flex container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh; /* Full viewport height */
  background-color: #d1d8c5; /* Background color */
}

/* Styling for the main container */
.container {
  background-color: #eeeeee; /* Light gray background */
  padding: 2rem; /* Padding around the content */
  border-radius: 1rem; /* Rounded corners */
  min-height: 45vh; /* Minimum height */
  width: 40vh; /* Width */
}

/* Styling for forms */
form {
  margin: 2rem 0 1rem 0; /* Margin */
}

/* Styling for select, button, and input elements within forms */
form select,
button,
input {
  width: 100%; /* Full width */
  border: none; /* No border */
  outline: none; /* No outline */
  border-radius: 0.75rem; /* Rounded corners */
}

/* Styling for input fields */
form input {
  border: 1px solid lightgray; /* Light gray border */
  font-size: 1rem; /* Font size */
  height: 3rem; /* Height of input */
  padding-left: 0.5rem; /* Left padding */
}

/* Styling for dropdown section */
.dropdown {
  display: flex; /* Flex container */
  justify-content: space-between; /* Spacing between items */
  align-items: center; /* Center vertically */
  margin-top: 2rem; /* Top margin */
}

/* Styling for icons within dropdown */
.dropdown i {
  font-size: 1.5rem; /* Icon font size */
  margin-top: 1rem; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}

/* Styling for flag icons within select containers */
.select-container img {
  max-width: 2rem; /* Maximum width for flag icons */
}

/* Styling for select containers */
.select-container {
  display: flex; /* Flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 6rem; /* Width */
  border-radius: 0.5rem; /* Rounded corners */
  border: 1px solid lightgray; /* Light gray border */
}

/* Styling for select elements */
.select {
  font-size: 1rem; /* Font size */
  width: auto; /* Automatic width */
}

/* Styling for messages */
.msg {
  margin: 2rem 0 2rem 0; /* Margin */
}

/* Styling for buttons within forms */
form button {
  height: 3rem; /* Height */
  background-color: #615efc; /* Background color */
  color: #eeeeee; /* Text color */
  font-size: 1.15rem; /* Font size */
  cursor: pointer; /* Pointer cursor */
}
